.multiline-mat-select {
    white-space: normal;
    line-height: normal;
    //width:9000px; 
    //background-color: rgb(247, 247, 208); 
    font-size: 14px;
  }

  .multiline-mat-option {
    white-space: normal;
    line-height: normal;
    //width:5000px; 
    background-color: rgb(247, 247, 208); 
    font-size: 14px;
    
  }
  


  //.mat-select-content{
  //} 

  .fallback-text {
    text-align: center;
  }
  